/*
Footer End
*/
.footer-end {
    background-color: #16161B;
    padding: 10px;
}

.footer-end p {
    color: #EFF4EE;
}

.footer-end a {
    color: #EFF4EE;
    text-decoration: none;
}

.footer-end a:hover {
    color: rgb(64, 121, 174);
}