/*
Main Choose
*/
.mainChoose {
    background-image: url(/public/img/bg-7.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px;
}

.mainChoose .box {
    text-align: center;
}

.mainChoose .box li {
    padding: 30px;
}

.mainChoose .box li a {
    padding: 5px 10px;
}