// header colors
$headerBgColor: #21333E;
$mainBgColor: #EFF4EE;
$footerBgColor: #0D0D11;
$textColorHeader: #cccfd0;

// main colors
$textColorMain: #939393;
$mainBgColor: #111116;
$mainTextAColor: #098283;
$mainCardBgColor: #19191E;
$h2ColorText: #21333E;
$h3ColorText: #2a4251;